@font-face {
  font-family: "mono";
  src: url(UbuntuMono.ttf) format("truetype");
}
.con {
  font-family: "mono";
  display: inline-block;
  border: 5px solid;
  font-size:12px;
}

#machines{
  font-size:8px;
}
#items{
  font-size:11px;
}

/*Makes Selection Invisible*/
::selection {
  background: #ffffff;
}